<section class="container">
    <div class="title">
        <h2>About</h2>
    </div>
    <div class="center-content">
        <!-- <div class="picture">
            <img src="../../../assets/images/gary-pic-1.png" alt="about picture" draggable="false">
        </div> -->
        <div class="content">
            <div class="profile">
                <img src="../../../assets/images/gary-pic-1.png" alt="about picture" draggable="false">
                <h3 style="font-family: 'Times New Roman', Times, serif;"><span style="color: rgb(139, 139, 139); font-family: 'Poppins', sans-serif; font-weight: 800;">Meet &nbsp;</span>Mr. Gary Felix A</h3>
            </div>
            <p>Gary Felix lives in Salem city which is located in Tamil Nadu, India. Gary Felix is an Aspiring Web Developer who knows how to design and develop a website. The main quality of Gary Felix is creativity. He can able to design plenty of websites with his creativity and innovative ideas. Apart from that, he is the part-time content writer and content creator. In the end, thanks for meeting the multi-talented person!</p>
            <p><span style="font-weight: 700;"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;Email: </span>garyfelix23@gmail.com</p>
            <p><span style="font-weight: 700;"><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;Age: </span>21</p>
            <p><span style="font-weight: 700;"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;Location: </span>Salem, Tamil Nadu, India</p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="text">
        <h2>CopyRight © 2023 AGF All Rights Reserved</h2>
    </div>
    <div class="logo">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-medium"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </div>
</footer>