@media screen and (max-width: 600px) {
  section {
    /* border: 2px solid red; */
    padding: 0px 10px;
  }

  section .title {
    /* border: 2px solid green; */
    background-color: rgba(143, 143, 143, 0.559);
    padding: 40px 20px;
  }

  section .title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  section .center-content {
    margin-top: 50px;
    /* border: 2px solid violet; */
    display: flex;
  }

  section .center-content .content {
    /* width: 40%; */
    padding: 10px 10px;
    border-radius: 8px;
    /* border: 2px solid rgb(218, 218, 218); */
    background-color: white;
    box-shadow: 0px 0px 4px 1px black;
  }

  section .center-content .content .profile {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    /* border: 2px solid red; */
  }

  section .center-content .content .profile img {
    width: 80px;
    height: auto;
    border-radius: 100px;
  }

  section .center-content .content .profile h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid green; */
  }
  /* 
  section .center-content .picture img {
    width: 300px;
    height: auto;
  } */

  section .center-content .content p {
    text-align: left;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  /* Footer Design */

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* padding: 2rem 5rem; */
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer .text {
    /* border: 2px solid red; */
  }

  footer .text h2 {
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
  }
}

/* tablet design */

@media screen and (min-width: 600px) and (max-width: 1024px) {
  section {
    /* border: 2px solid red; */
    padding: 0px 10px;
  }

  section .title {
    /* border: 2px solid green; */
    background-color: rgba(143, 143, 143, 0.559);
    padding: 40px 20px;
  }

  section .title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  section .center-content {
    margin-top: 50px;
    /* border: 2px solid violet; */
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  section .center-content .content {
    /* width: 40%; */
    padding: 10px 10px;
    border-radius: 8px;
    /* border: 2px solid rgb(218, 218, 218); */
    background-color: white;
    box-shadow: 0px 0px 4px 1px black;
  }

  section .center-content .content .profile {
    display: flex;
    justify-content: left;
    align-content: center;
    margin-bottom: 15px;
    /* border: 2px solid red; */
    /* height: 30vh; */
    width: 100%;
  }

  section .center-content .content .profile img {
    /* width: 280px;
        height: auto; */
    border-radius: 100px;
    /* border: 5px solid red; */
    width: 150px;
    height: auto;
  }

  section .center-content .content .profile h3 {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-size: 50px;
    padding-left: 10px;
    /* width: 100%; */
    /* border: 2px solid green; */
  }

  section .center-content .content p {
    text-align: left;
    font-size: 25px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
    width: 100%;
  }

  footer .text h2 {
    font-size: 22px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  section {
    /* border: 2px solid red; */
    padding: 0px 10px;
  }

  section .title {
    /* border: 2px solid green; */
    background-color: rgba(143, 143, 143, 0.559);
    padding: 40px 20px;
  }

  section .title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  section .center-content {
    margin-top: 50px;
    /* border: 2px solid violet; */
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  section .center-content .content {
    /* width: 40%; */
    padding: 10px 10px;
    border-radius: 8px;
    /* border: 2px solid rgb(218, 218, 218); */
    background-color: white;
    box-shadow: 0px 0px 4px 1px black;
  }

  section .center-content .content .profile {
    display: flex;
    justify-content: left;
    align-content: center;
    margin-bottom: 15px;
    /* border: 2px solid red; */
    /* height: 30vh; */
    width: 100%;
  }

  section .center-content .content .profile img {
    /* width: 280px;
            height: auto; */
    border-radius: 100px;
    /* border: 5px solid red; */
    width: 150px;
    height: auto;
  }

  section .center-content .content .profile h3 {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-size: 50px;
    padding-left: 10px;
    /* width: 100%; */
    /* border: 2px solid green; */
  }

  section .center-content .content p {
    text-align: left;
    font-size: 25px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
  }

  footer .text h2 {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}

@media screen and (min-width: 1201px) {
  section {
    /* border: 2px solid red; */
    padding: 0px 10px;
    height: auto;
  }

  section .title {
    /* border: 2px solid green; */
    background-color: rgba(143, 143, 143, 0.559);
    padding: 40px 20px;
  }

  section .title h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
  }

  section .center-content {
    margin-top: 50px;
    /* border: 2px solid violet; */
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  section .center-content .content {
    /* width: 40%; */
    padding: 10px 10px;
    border-radius: 8px;
    /* border: 2px solid rgb(218, 218, 218); */
    background-color: white;
    box-shadow: 0px 0px 4px 1px black;
  }

  section .center-content .content .profile {
    display: flex;
    justify-content: left;
    align-content: center;
    margin-bottom: 15px;
    /* border: 2px solid red; */
    /* height: 30vh; */
    width: 100%;
  }

  section .center-content .content .profile img {
    /* width: 280px;
            height: auto; */
    border-radius: 100px;
    /* border: 5px solid red; */
    width: 100px;
    height: auto;
  }

  section .center-content .content .profile h3 {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    font-size: 30px;
    padding-left: 10px;
    /* width: 100%; */
    /* border: 2px solid green; */
  }

  section .center-content .content p {
    text-align: left;
    font-size: 20px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    margin-top: 20px;
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
  }

  footer .text h2 {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}
