@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amarante&display=swap");

/* mobile screen */
@media screen and (max-width: 600px) {
  .center {
    /* border: 2px solid black; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .center img {
    /* border: 2px solid orange; */
    width: 380px;
    height: auto;
  }

  .center .img-text {
    /* border: 2px solid red; */
    margin-top: 50px;
    width: 100%;
  }

  .center p {
    /* border: 2px solid green; */
    text-align: center;
    padding: 0px 5px;
    font-size: 22px;
    width: 100%;
  }

  /* center 3 */
  .center-2 {
    /* background-color: black; */
    background-color: white;
    padding: 5rem 5rem;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid green; */
  }

  .center-2 h2 {
    color: black;
    font-family: "Amarante", serif;
    text-align: center;
    text-transform: uppercase;
  }

  .center-2 .slogan {
    color: rgb(0, 166, 255);
    text-align: center;
    font-size: 30px;
    font-size-adjust: "Almendra", serif;
  }

  .center-2 .cards {
    /* border: 2px solid red; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 20px 0px; */
  }

  .center-2 .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    margin-bottom: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 2px 2px black;
    border-radius: 8px;
    padding: 50px 10px;
    /* border: transparent; */
    background-color: rgba(224, 224, 224, 0.734);
  }

  .center-2 .cards .card img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 5px solid rgb(160, 160, 160);
  }

  .center-2 .cards .card a {
    font-family: "Amarante", serif;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    /* margin-top: 10px; */
  }

  .center-2 .cards .card p {
    color: black;
    font-size: 22px;
    font-family: "Almendra", serif;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
  }

  /* center - 2 design */

  .center-3 {
    background-color: #efeeee;
    /* height: 200vh; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px;
    /* border: 2px solid green; */
  }

  .center-3 h2 {
    font-family: "Amarante", serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }

  .center-3 p {
    font-weight: 400 !important;
    font-family: "Almendra", serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    /* border: 2px solid red; */
  }

  .center-3 .boxes {
    /* border: 2px solid red; */
    /* max-height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: auto !important;     */
  }

  .center-3 .boxes .box-1 {
    /* border: 2px solid red; */
    width: 100%;
    /* height: 50vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 5px 0px black;
  }

  .center-3 .boxes .box-1 img {
    width: 100px;
    height: auto;

  }

  .center-3 .boxes .box-1 h2 {
    font-size: 25px !important;
    font-family: "Amarante", serif;
  }

  .center-3 .boxes .box-1 p {
    font-size: 22px;
    font-family: "Almendra", serif;
  }

  /* center - 4 design */

  .center-4 {
    height: 80vh;
    /* display: none; */
  }

  .center-4 .title h2 {
    text-align: center;
    font-family: "Amarante", serif;
    font-size: 45px;
    color: rgb(0, 166, 255);
  }

  .center-4 .title p {
    text-align: center;
    font-family: "Almendra", serif;
    font-size: 30px;
  }

  .center-4 .forms {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }

  .center-4 .forms form {
    /* border: 2px solid green; */
    padding: 20px 10px;
    width: 100%;
  }

  .center-4 .forms form .basic-details {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }

  .center-4 .forms form .basic-details input {
    margin-bottom: 20px;
    width: 100%;
    background-color: #efeeee;
  }

  .center-4 .forms form input {
    padding: 10px 0px;
    border-radius: 3px;
    padding: 10px 10px;
    border: transparent;
  }

  .center-4 .forms form input:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form textarea {
    width: 100%;
    height: 30vh;
    border: transparent;
    border-radius: 3px;
    background-color: #efeeee;
    resize: none;
    padding: 10px 10px;
    text-transform: capitalize;
  }

  .center-4 .forms form textarea:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form button {
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(0, 166, 255);
    color: white;
    width: 100%;
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
  }

  /* footer design */

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* padding: 2rem 5rem; */
    background-color: black;
  }

  footer .text {
    /* border: 2px solid red; */
  }

  footer .text h2 {
    font-size: 16px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}

/* tablet design */

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .center {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .center img {
    width: 1000px;
    /* width: auto; */
    height: auto;
    /* border: 2px solid orange; */
  }

  .center p {
    text-align: center;
    padding: 0px 5px;
    font-family: "Almendra", serif;
    font-size: 35px;
    width: 100%;
    /* border: 2px solid red; */
  }

  /* center - 2 design */

  .center-2 {
    /* background-color: black; */
    background-color: white;
    padding: 5rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid red; */
  }

  .center-2 h2 {
    color: black;
    font-family: "Amarante", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
  }

  .center-2 .slogan {
    color: black;
    text-align: center;
    font-size: 30px;
    font-size-adjust: "Almendra", serif;
    color: rgb(0, 166, 255);
  }

  .center-2 .cards {
    /* border: 2px solid red; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0px; */
    padding-left: 1rem;
  }

  .center-2 .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    /* border: 2px solid violet; */
    box-shadow: 0px 0px 2px 2px white;
    border-radius: 8px;
    padding: 50px 10px;
    border: transparent;
    background-color: rgba(224, 224, 224, 0.734);
    height: auto;
    width: auto;
  }

  .center-2 .cards .card img {
    width: 700px;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 5px solid rgb(160, 160, 160);
  }

  .center-2 .cards .card a {
    font-family: "Amarante", serif;
    color: black;
    margin-top: 20px;
    font-size: 45px;
    width: 100%;
    /* border: 2px solid red; */
    text-align: left !important;
  }

  .center-2 .cards .card p {
    color: black;
    font-size: 30px;
    text-align: left;
  }

  /* center - 3 design */

  .center-3 {
    background-color: #efeeee;
    padding: 2rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
  }

  .center-3 h2 {
    font-family: "Amarante", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
  }

  .center-3 p {
    font-weight: 400 !important;
    font-family: "Almendra", serif;
    font-size: 35px;
    text-align: center;
    /* border: 2px solid red; */
    color: rgb(0, 166, 255);
  }

  .center-3 .boxes {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    padding-left: 3rem;
  }

  .center-3 .boxes .box-1 {
    /* border: 2px solid black; */
    width: auto;
    height: auto;
    padding: 0px 10px;
    margin-right: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px black;
    margin-bottom: 25px;
  }

  .center-3 .boxes .box-1:hover {
    border-bottom: 4px solid black;
    transform: scale(1.02, 1.02);
    transition: all 0.2s ease;
  }

  .center-3 .boxes .box-1 img {
    width: 100px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .center-3 .boxes .box-1 h2 {
    font-size: 35px !important;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
  }

  .center-3 .boxes .box-1 p {
    font-size: 30px;
    color: black;
  }

  /* center - 4 design */

  .center-4 {
    height: auto;
    /* border: 2px solid red; */
  }

  .center-4 .title h2 {
    text-align: center;
    font-family: "Amarante", serif;
    color: rgb(0, 166, 255);
    font-size: 45px;
  }

  .center-4 .title p {
    text-align: center;
    font-family: "Almendra", serif;
    font-size: 30px;
  }

  .center-4 .forms {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }

  .center-4 .forms form {
    /* border: 2px solid green; */
    padding: 20px 10px;
    width: 80%;
  }

  .center-4 .forms form .basic-details {
    /* border: 2px solid red; */
    display: flex;
  }

  .center-4 .forms form .basic-details input {
    margin-bottom: 20px;
    width: 50%;
    background-color: #efeeee;
    font-size: 22px;
    padding: 20px 10px;
  }

  .center-4 .forms form input {
    padding: 10px 0px;
    border-radius: 3px;
    padding: 10px 10px;
    border: transparent;
    font-size: 22px;
  }

  .center-4 .forms form input:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form textarea {
    width: 100%;
    height: 30vh;
    font-size: 22px;
    border: transparent;
    border-radius: 3px;
    background-color: #efeeee;
    resize: none;
    padding: 10px 10px;
    text-transform: capitalize;
  }

  .center-4 .forms form textarea:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form button {
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(0, 166, 255);
    color: white;
    width: 100%;
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
  }

  /* footer design */

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
    width: 100%;
  }

  footer .text h2 {
    font-size: 22px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .center {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
    height: auto;
  }

  .center img {
    width: 1000px;
    /* width: auto; */
    height: auto;
    /* border: 2px solid orange; */
  }

  .center p {
    text-align: center;
    padding: 0px 5px;
    font-family: "Almendra", serif;
    font-size: 28px;
    width: 90%;
    /* border: 2px solid red; */
  }

  /* center - 2 design */

  .center-2 {
    /* background-color: black; */
    background-color: white;
    padding: 5rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid red; */
  }

  .center-2 h2 {
    color: black;
    font-family: "Amarante", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
  }

  .center-2 .slogan {
    color: black;
    text-align: center;
    font-size: 40px;
    font-size-adjust: "Almendra", serif;
    color: rgb(0, 166, 255);
  }

  .center-2 .cards {
    /* border: 2px solid red; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0px; */
  }

  .center-2 .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 2px 2px white;
    border-radius: 8px;
    padding: 50px 30px;
    border: transparent;
    background-color: rgba(224, 224, 224, 0.734);
  }

  .center-2 .cards .card img {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 5px solid rgb(160, 160, 160);
  }

  .center-2 .cards .card a {
    font-family: "Amarante", serif;
    color: black;
    margin-top: 20px;
    font-size: 30px;
    width: 100%;
    text-align: left;
  }

  .center-2 .cards .card p {
    color: black;
    font-size: 25px;
    text-align: left;
    width: 100%;
  }

  /* center - 3 design */

  .center-3 {
    background-color: #efeeee;
    padding: 2rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
  }

  .center-3 h2 {
    font-family: "Amarante", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
  }

  .center-3 p {
    font-weight: 400 !important;
    font-family: "Almendra", serif;
    font-size: 35px;
    text-align: center;
    /* border: 2px solid red; */
    color: rgb(0, 166, 255);
  }

  .center-3 .boxes {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 2rem 0rem;
    padding-left: 8px;
  }

  .center-3 .boxes .box-1 {
    /* border: 2px solid black; */
    width: 23rem;
    height: auto;
    padding: 0px 10px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    /* padding-left: 1rem; */
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px black;
  }

  .center-3 .boxes .box-1:hover {
    border-bottom: 4px solid black;
    transform: scale(1.02, 1.02);
    transition: all 0.2s ease;
  }

  .center-3 .boxes .box-1 img {
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .center-3 .boxes .box-1 h2 {
    font-size: 35px !important;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
  }

  .center-3 .boxes .box-1 p {
    font-size: 25px;
    color: black;
  }

  /* center - 4 design */

  .center-4 {
    height: 80vh;
  }

  .center-4 .title h2 {
    text-align: center;
    font-family: "Amarante", serif;
    color: rgb(0, 166, 255);
    font-size: 35px;
  }

  .center-4 .title p {
    text-align: center;
    font-family: "Almendra", serif;
    font-size: 25px;
  }

  .center-4 .forms {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }

  .center-4 .forms form {
    /* border: 2px solid green; */
    padding: 20px 10px;
    width: 70%;
  }

  .center-4 .forms form .basic-details {
    /* border: 2px solid red; */
    display: flex;
  }

  .center-4 .forms form .basic-details input {
    margin-bottom: 20px;
    width: 50%;
    font-size: 20px;
    background-color: #efeeee;
  }

  .center-4 .forms form input {
    padding: 10px 0px;
    border-radius: 3px;
    padding: 10px 10px;
    border: transparent;
  }

  .center-4 .forms form input:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form textarea {
    width: 100%;
    height: 30vh;
    border: transparent;
    border-radius: 3px;
    background-color: #efeeee;
    resize: none;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 20px;
  }

  .center-4 .forms form textarea:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form button {
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(0, 166, 255);
    color: white;
    width: 100%;
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
  }

  /* footer design */

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
  }

  footer .text h2 {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}

@media screen and (min-width: 1201px) {
  .center {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80vh; */
    height: auto;
  }

  .center img {
    width: 990px;
    /* width: auto; */
    height: auto;
    /* border: 2px solid orange; */
  }

  .center p {
    text-align: center;
    padding: 0px 5px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 80%;
    /* border: 2px solid red; */
  }

  /* center - 2 design */

  .center-2 {
    /* background-color: black; */
    background-color: white;
    padding: 5rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid red; */
  }

  .center-2 h2 {
    color: black;
    font-family: "Amarante", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
  }

  .center-2 .slogan {
    color: black;
    text-align: center;
    font-size: 30px;
    font-size-adjust: "Poppins", sans-serif;
    color: rgb(0, 166, 255);
  }

  .center-2 .cards {
    /* border: 2px solid red; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 20px 0px; */
  }

  .center-2 .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 2px 2px white;
    border-radius: 8px;
    padding: 50px 30px;
    border: transparent;
    background-color: rgba(224, 224, 224, 0.734);
  }

  .center-2 .cards .card img {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 5px solid rgb(160, 160, 160);
  }

  .center-2 .cards .card a {
    font-family: "Amarante", serif;
    color: black;
    margin-top: 20px;
    font-size: 30px;
    width: 100%;
    text-align: left;
  }

  .center-2 .cards .card p {
    color: black;
    font-size: 25px;
    text-align: left;
    width: 100%;
    font-family: "Poppins", sans-serif;
  }

  /* center - 3 design */

  .center-3 {
    background-color: #efeeee;
    padding: 2rem 5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
  }

  .center-3 h2 {
    font-family: "Amarante", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
  }

  .center-3 p {
    font-weight: 400 !important;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-align: center;
    /* border: 2px solid red; */
    color: rgb(0, 166, 255);
  }

  .center-3 .boxes {
    /* border: 2px solid black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 2rem 0rem;
    padding-left: 8px;
  }

  .center-3 .boxes .box-1 {
    border: 2px solid rgb(0, 166, 255);
    width: 23rem;
    height: auto;
    padding: 0px 10px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    /* padding-left: 1rem; */
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgb(0, 166, 255);
  }

  .center-3 .boxes .box-1:hover {
    border-bottom: 4px solid black;
    transform: scale(1.02, 1.02);
    transition: all 0.2s ease;
  }

  .center-3 .boxes .box-1 img {
    width: 150px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .center-3 .boxes .box-1 h2 {
    font-size: 25px !important;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
  }

  .center-3 .boxes .box-1 p {
    font-size: 18px;
    color: black;
    font-family: "Poppins", sans-serif;
  }

  /* center - 4 design */

  .center-4 {
    height: 80vh;
  }

  .center-4 .title h2 {
    text-align: center;
    font-family: "Amarante", serif;
    color: rgb(0, 166, 255);
    font-size: 35px;
  }

  .center-4 .title p {
    text-align: center;
    font-family: "Almendra", serif;
    font-size: 25px;
  }

  .center-4 .forms {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
  }

  .center-4 .forms form {
    /* border: 2px solid green; */
    padding: 20px 10px;
    width: 70%;
  }

  .center-4 .forms form .basic-details {
    /* border: 2px solid red; */
    display: flex;
  }

  .center-4 .forms form .basic-details input {
    margin-bottom: 20px;
    width: 50%;
    font-size: 20px;
    background-color: #efeeee;
  }

  .center-4 .forms form input {
    padding: 10px 0px;
    border-radius: 3px;
    padding: 10px 10px;
    border: transparent;
  }

  .center-4 .forms form input:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form textarea {
    width: 100%;
    height: 30vh;
    border: transparent;
    border-radius: 3px;
    background-color: #efeeee;
    resize: none;
    padding: 10px 10px;
    text-transform: capitalize;
    font-size: 20px;
  }

  .center-4 .forms form textarea:focus {
    outline: none;
    border: none;
  }

  .center-4 .forms form button {
    padding: 10px 20px;
    font-size: 22px;
    margin-top: 10px;
    border-radius: 5px;
    border: transparent;
    background-color: rgb(0, 166, 255);
    color: white;
    width: 100%;
    font-family: "Poppins", "sans-serif";
    font-weight: 700;
  }

  /* footer design */

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    background-color: black;
    /* border: 2px solid red; */
  }

  footer .text {
    /* border: 2px solid red; */
    padding-top: 10px;
  }

  footer .text h2 {
    font-size: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  footer .logo {
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  footer .logo a {
    /* border: 2px solid grey; */
    margin-right: 10px;
    font-size: 30px;
    color: white;
  }
}
