<div class="center-3">
    <div class="title">
        <img src="../../../assets/images/service.png" alt="" draggable="false">
    </div>
    <div class="boxes">
        <div class="box-1">
            <img src="../../../assets/images/web_development.png" alt="" draggable="false">
            <div class="text">
                <h2>Web Development</h2>
                <p>Whether it's building from scratch or enhancing existing platforms, I am dedicated to delivering top-notch web solutions for your business.</p>
            </div>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/design2.png" alt="" draggable="false">
            <div class="text">
                <h2>Web Design</h2>
                <p>My passion lies in delivering innovative web designs that not only look stunning but also function seamlessly for an exceptional user experience.</p>
            </div>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/content_writing.png" alt="" draggable="false">
            <div class="text">
                <h2>Content Writing</h2>
                <p>I am dedicated to providing top-notch content writing services. Let me help you bring your ideas to life through compelling and effective written content.</p>
            </div>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/responsive2.png" alt="" draggable="false">
            <div class="text">
                <h2>Responsive</h2>
                <p>I specialize in providing top-notch responsive web development services. I create websites that adapt seamlessly to various devices and screen sizes.</p>
            </div>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/seo1.png" alt="" draggable="false">
            <div class="text">
                <h2>SEO Optimization</h2>
                <p>With a focus on SEO, I precisely analyze and optimize websites, ensuring they are search engine-friendly and poised for higher search result placements.</p>
            </div>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/logodesign.png" alt="" draggable="false">
            <div class="text">
                <h2>Logo Design</h2>
                <p>With a passion for creativity and an eye for detail, I dedicate myself to crafting unique and impactful logos that leave a lasting impression.</p>
            </div>
        </div>
    </div>
</div>

<!-- footer content -->
<footer>
    <div class="text">
        <h2>CopyRight © 2023 AGF All Rights Reserved</h2>
    </div>
    <div class="logo">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-medium"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest"></i></a>
    </div>
</footer>