<div class="center-3">
    <h2>Services</h2>
    <p>Smooth Services, Let's watch it</p>
    <div class="boxes">
        <div class="box-1">
            <img src="../../../assets/images/web_development.png" alt="" draggable="false">
            <h2>Web Development</h2>
            <p>Whether it's building from scratch or enhancing existing platforms, I am dedicated to delivering
                top-notch web solutions for your business.</p>
        </div>
        <div class="box-1">
            <img src="../../../assets/images/design2.png" alt="" draggable="false">
            <h2>Web Design</h2>
            <p>My passion lies in delivering innovative web designs that not only look stunning but also
                function seamlessly for an exceptional user experience.
            </p>

        </div>
        <div class="box-1">
            <img src="../../../assets/images/responsive2.png" alt="" draggable="false">
            <h2>Responsive</h2>
            <p>I specialize in providing top-notch responsive web development services. I create websites that
                adapt seamlessly to various devices and screen sizes.</p>

        </div>
    </div>
</div>

<footer>
    <div class="text">
        <h2>CopyRight © 2024 AGF All Rights Reserved</h2>
    </div>
    <div class="logo">
        <a href="https://www.linkedin.com/in/gary-felix-a-4075541a2/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.instagram.com/gary_felix_/"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>